### IntelliJ IDEA ###
.idea
*.iml
*.ipr
out/

### Environment ###
.env
*.keystore

### Logs / Temporary files ###
*.log
tmp/

### OS / System files ###
.DS_Store
Thumbs.db

### Kotlin / Other ###
*.class
*.jar
wol-fcm-service-account-key.json

### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar